@charset "utf-8";
.well{
	padding:9px;
}

.sidebar{
	width:220px;
}

#viewer {
	position: absolute;
	left: 230px;
	width: -webkit-calc(100% - 230px);
	width: calc(100% - 230px);
	height: -webkit-calc(100% - 100px);
	height: calc(100% - 100px);
	border: 0px;
}
#datepicker{
	width: 140px;
}

#refresh_path{
	float: right;
	margin-right: 10px;
}

#clear_classroom{
	float: right;
	margin-right: 10px;
}

.page-header{
	padding-bottom:5px; margin-bottom:20px;
}

.container_body{
	color: #000;
	font-family:Monospace;
	font-size:13px;
	text-align:center;
	font-weight: bold;
	background-color: #fff;
	margin: 0px;
	overflow: hidden;
}

.form-control{
	display:inline-block;
	padding: 2px 2px;
	line-height: 10px;
	font-size: 14px;
	height: 22px;
}

.2dtext{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 10%;
	z-index: 10;
}
#classinfo{
	height:150px;
	overflow-x: scroll; 
}