@charset "utf-8";

.sidebar{
	width:220px;
}

#viewer {
	position: absolute;
	left: 230px;
	width: -webkit-calc(100% - 230px);
	width: calc(100% - 230px);
	height: -webkit-calc(100% - 100px);
	height: calc(100% - 100px);
	border: 0px;
}
#datepicker{
	width: 140px;
}

.page-header{
	padding-bottom:5px; margin-bottom:20px;
}

.container_body{
	color: #000;
	font-family:Monospace;
	font-size:13px;
	text-align:center;
	font-weight: bold;
	background-color: #fff;
	margin: 0px;
	overflow: hidden;
}

